@mixin spacer {
  padding-top: 50px;
  padding-bottom: 50px;
}

@mixin inner {
  padding-right: $grid-gap;
  padding-left: $grid-gap;
}

// Grid

@mixin grid_container {
  @include inner;
  max-width: $grid-container + ($grid-gap * 2);
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}


// Fonts

@mixin Font_16-24 {
  font-size: 16px;
  line-height: 24px;
}

@mixin Font_30-36 {
  font-size: 30px;
  line-height: 36px;
}

@mixin Font_50-60 {
  font-size: 50px;
  line-height: 60px;
}
