$grid-container: 1360px;
$grid-gap: 40px;

// Colours

$color-light: #f6f6f6;
$color-dark: #3b3a36;

// Fonts

$font-heading: 'CallunaSans-Regular';
$font-body: 'Calluna-Regular';

// dark green/blue #5a7670
// dark grey #3b3a36
// deep red #935347
// teal? #64706c
