.frm-Form {
  display: flex;
  flex-wrap: wrap;
}

.frm-Form_Input,
.frm-Form_Textarea {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  appearance: none;
  outline: none;
  border-radius: 3px;
  font-family: $font-body;
}

.frm-Form_Input {

  width: calc(50% - 7.5px);

  &:first-child {
    margin-right: 15px;
  }
}

.frm-Form_Textarea {
  font-family: $font-body;
}

.frm-Form_Submit {
  @include button;
  display: inline-block;
  width: 100%;
}
