.frm-Form {
  display: flex;
  flex-wrap: wrap;
}

.frm-Form_Input,
.frm-Form_Textarea {
  @include Font_14-20;
  display: block;
  width: 100%;
  margin-bottom: 20px;
  padding: 10px 15px;
  appearance: none;
  outline: none;
  border-radius: 3px;
  font-family: $font-body;
  background-color: $color-light;
  color: $color-dark;
}

.frm-Form_Input {
  height: 40px;
  width: calc(50% - 10px);

  &::placeholder {
    line-height: 20px;
  }

  &:first-child {
    margin-right: 20px;
  }
}

.frm-Form_Textarea {
  font-family: $font-body;
}

.frm-Form_Submit {
  @include Button;
  display: inline-block;
  width: 100%;
}
