.crd-Service_Card {
  text-align: center;
}

.crd-Service_Icon {
  fill: none;
  max-width: 100px;
  margin: 0 auto 30px;

  svg {
    // height: 100vh;
    // width: 100vw;
    // background-color: white;
  }

  path {
    stroke: $color-light;
    stroke-width: 6;
  }

  .v1 {
    stroke-dasharray: 5000;
    stroke-dashoffset: 5000;
    animation-name: draw;
    animation-duration: 5s;
    animation-fill-mode: forwards; // Stay on the last frame
    animation-iteration-count: 1; // Run only once
    animation-timing-function: linear;
  }

  .v2 {
    stroke-dasharray: 5000;
    stroke-dashoffset: 5000;
    animation-name: draw;
    animation-duration: 5s;
    animation-fill-mode: forwards; // Stay on the last frame
    animation-iteration-count: 1; // Run only once
    animation-timing-function: linear;
    animation-delay: 0.5s;
  }

  .v3 {
    stroke-dasharray: 5000;
    stroke-dashoffset: 5000;
    animation-name: draw;
    animation-duration: 2s;
    animation-fill-mode: forwards; // Stay on the last frame
    animation-iteration-count: 1; // Run only once
    animation-timing-function: linear;
    animation-delay: 1s;
  }

  @keyframes draw {
    to {
      stroke-dashoffset: 0;
    }
  }
}

.crd-Service_Title {
  @include Font_30-36;
  @include Font_Heading;
  margin-bottom: 20px;
  color: $color-accent;
}

.crd-Service_Text {
  @include Font_16-24;
  letter-spacing: 1px;
}
