.crd-Service_Card {
  text-align: center;
}

.crd-Service_Icon {
  fill: $color-light;
  max-width: 100px;
  margin: 0 auto 30px;
}

.crd-Service_Title {
  @include Font_30-36;
  @include Font_Heading;
  margin-bottom: 20px;
}

.crd-Service_Text {
  @include Font_16-24;
  letter-spacing: 1px;
}
