.crd-Service_Card {
  text-align: center;
}

.crd-Service_Icon {
  fill: none;
  max-width: 100px;
  margin: 0 auto 20px;

  path {
    stroke: $color-light;
    stroke-width: 6;
  }

  .v1 {
    stroke-dasharray: 5000;
    stroke-dashoffset: 5000;

    .utl-IE & {
      stroke-dasharray: 0;
      stroke-dashoffset: 0;
      opacity: 0;
      visibility: hidden;
      transform: translateY(-30px);
    }
  }

  &.crd-Service_Icon-inView .v1 {
    animation-name: draw;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: linear;

    .utl-IE & {
      opacity: 1;
      visibility: visible;
      transform: none;
      transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out, transform 0.5s ease-in-out;
    }
  }

  .v2 {
    stroke-dasharray: 5000;
    stroke-dashoffset: 5000;

    .utl-IE & {
      stroke-dasharray: 0;
      stroke-dashoffset: 0;
      opacity: 0;
      visibility: hidden;
      transform: translateY(-30px);
    }
  }

  &.crd-Service_Icon-inView .v2 {
    animation-name: draw;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-delay: 0.5s;

    .utl-IE & {
      opacity: 1;
      visibility: visible;
      transform: none;
      transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out, transform 0.5s ease-in-out;
    }
  }

  .v3 {
    stroke-dasharray: 5000;
    stroke-dashoffset: 5000;

    .utl-IE & {
      stroke-dasharray: 0;
      stroke-dashoffset: 0;
      opacity: 0;
      visibility: hidden;
      transform: translateY(-30px);
    }
  }

  &.crd-Service_Icon-inView .v3 {
    animation-name: draw;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-delay: 1s;

    .utl-IE & {
      opacity: 1;
      visibility: visible;
      transform: none;
      transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out, transform 0.5s ease-in-out;
    }
  }

  @keyframes draw {
    to {
      stroke-dashoffset: 0;
    }
  }
}

.crd-Service_Title {
  @include Font_26-32;
  @include Font_Heading;
  margin-bottom: 20px;
  color: $color-accent;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-30px);

  &.crd-Service_Title-inView {
    opacity: 1;
    visibility: visible;
    transform: none;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out, transform 0.5s ease-in-out;
    transition-delay: 0.1s;
  }
}

.crd-Service_Text {
  @include Font_16-28;
  letter-spacing: 1px;
  max-width: 450px;
  margin: 0 auto;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-30px);

  &.crd-Service_Text-inView {
    opacity: 1;
    visibility: visible;
    transform: none;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out, transform 0.5s ease-in-out;
    transition-delay: 0.2s;
  }
}
