.her-Hero {
  background: blue;
  position: relative;
  overflow: hidden;
}

.her-Hero_Video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  width: 100%;
}

.her-Hero_Inner {
  @include inner;
}

.her-Hero_Body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
  position: relative;
}

.her-Hero_Content {
}

.her-Hero_Title {
  @include Font_50-60;
  color: #fff;
  margin-left: calc((1 / 12) * 100%);
}
