.prt-Portfolio_Items {
  @include Breakpoint('md') {
    display: flex;
  }
}

.prt-Portfolio_Item {
  margin-bottom: var(--gutter);

  &:last-child {
    margin-bottom: 0;
  }

  @include Breakpoint('md') {
    flex: 1;

    margin-right: var(--gutter);

    &:last-child {
      margin-right: 0;
    }
  }
}
