.prt-Portfolio_Items {
  &::after {
    content: 'flickity';
    display: none;
  }

  @include Breakpoint('md') {
    display: flex;

    &::after {
      content: '';
    }
  }

  .flickity-page-dots {
    bottom: 10px;
    z-index: 5;
  }
}

.prt-Portfolio_Item {
  width: 100%;
  margin-bottom: $grid-gap;
  margin-right: $grid-gap / 2;

  @include Breakpoint('xs') {
    margin-right: $grid-gap;
  }

  &:last-child {
    margin-bottom: 0;
    margin-right: 0;
  }

  @include Breakpoint('sm') {
    margin-right: 40px;
    width: calc(50% - 20px);
  }

  @include Breakpoint('md') {
    flex: 1 1 auto;

    margin-right: $grid-gap;

    &:last-child {
      margin-right: 0;
    }
  }
}
