.srv-Service_Items {
  @include Breakpoint('sm') {
    display: flex;
  }
}

.srv-Service_Item {
  margin-bottom: var(--grid-gap);

  &:last-child {
    margin-bottom: 0;
  }

  @include Breakpoint('sm') {
    flex: 1;
    margin-right: var(--grid-gap);
    margin-bottom: 0;

    &:last-child {
      margin-right: 0;
    }
  }
}
