.skl-Skills_Items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin-right: calc(var(--gutter) * -1);
  margin-bottom: calc(var(--gutter) * -1);
}

.skl-Skills_Item {
  flex: 0 1 auto;
  margin-right: var(--gutter);
  margin-bottom: var(--gutter);
}

.skl-Skills_Skill {
  text-align: center;
  background-color: $color-light;
  border-radius: 15px;
  padding: 10px 25px;
  color: $color-dark;
  letter-spacing: 1px;
  font-family: $font-heading;
  white-space: nowrap;
}

.skl-Skills_Item:nth-child(3n) .skl-Skills_Skill {
  padding: 10px 50px;
}

.skl-Skills_Skill-accent {
  background-color: $color-accent;
  color: $color-light;
  font-weight: 500;
}
