.skl-Skills_Items {
  display: inline-grid;
  grid-gap: var(--gutter);
  grid-template-columns: repeat(3, 1fr);

  @include Breakpoint('md') {
    width: 100%;
    grid-template-columns: repeat(9, 1fr);
    justify-items: center;
    align-items: center;
  }
}

.skl-Skills_Item {
  width: 100%;
}

.skl-Skills_Item:nth-child(3n) {
  grid-column: span 2;
}

.skl-Skills_Skill {
  text-align: center;
  background-color: $color-light;
  border-radius: 15px;
  padding: 10px;
  color: $color-dark;
  letter-spacing: 1px;
  font-family: $font-heading;

}

.skl-Skills_Skill-accent {
  background-color: $color-accent;
  color: $color-light;
  font-weight: 500;
}
