.soc-Social_Items {
  display: flex;
  margin-bottom: var(--gutter);
  justify-content: center;

  @include Breakpoint('custom-600') {
    justify-content: flex-end;
    margin-bottom: 0;
  }
}

.soc-Social_Item {
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }
}

.soc-Social_Icon {
  display: block;
  width: 24px;
  height: 24px;
  fill: $color-link;
  transition: fill .3s ease;

  @include Breakpoint('custom-600') {
    fill: $color-dark;
  }

  &:hover {
    fill: $color-link;
  }
}
