.ft-Footer {
  padding-top: $grid-gap;
  padding-bottom: $grid-gap;
  background-color: $color-dark;
  color: $color-light;
}

.ft-Footer_Inner {
  @include grid_container;
}

.ft-Footer_Body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.ft-Footer_Footer {
  padding-top: $grid-gap;
  text-align: center;
}

.ft-Footer_Columns {
  display: flex;
  width: 100%;
}

.ft-Footer_Column {
  flex: 1;
}

.ft-Footer_Title {
  @include Font_30-36;
  @include Font_Heading;
  margin-bottom: 20px;
}

.ft-Footer_Text {
  @include Font_16-24;
  letter-spacing: 1px;
  margin-bottom: 10px;

  &:only-child {
    margin-bottom: 0;
  }
}

.ft-Footer_Icon {
  width: 100%;
  display: inline-block;
  max-width: 10px;
  fill: $color-light;
}
