.ft-Footer {
  padding-top: var(--gutter);
  padding-bottom: var(--gutter);
}

.ft-Footer_Inner {
  @include Inner;
}

.ft-Footer_Body {
  text-align: center;
  background-color: $color-light;
  color: $color-dark;
}
