.hd-Header {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  color: #fff;
  transition: background-color .3s ease;

  .utl-HeaderScrolled & {
    background-color: rgba($color-dark, 0.6);
  }

  @include Breakpoint('md') {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.hd-Header_Inner {
  @include Inner;
}

.hd-Header_Body {
  display: flex;
  align-items: center;
}

.hd-Header_Block {
  flex: 1 1 50%;
  display: flex;
}

.hd-Header_Title {
  @include Font_22-28;
  @include Font_Heading;
  @include Breakpoint('md') {
    @include Font_26-32;
  }
}

.hd-Header_Nav {
  width: 100%;
  display: flex;
}

.hd-Header_Nav-desktop {
  display: none;
  @include Breakpoint('lg') {
    display: block;
  }
}

.hd-Header_Nav-mobile {
  @include Breakpoint('lg') {
    display: none;
  }
}

.hd-Header_Items {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  .hd-Header_Nav & {
    justify-content: flex-end;
  }
}

.hd-Header_Item {
  display: flex;
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }
}

.hd-Header_Link {
  @include Font_16-28;
  font-family: $font-heading;
  text-decoration: none;
  letter-spacing: 1px;
  color: #fff;
}

.hd-Header_NavTrigger {
  @include Font_16-28;
  font-family: $font-heading;
  text-decoration: none;
  letter-spacing: 1px;
  color: #fff;
  cursor: pointer;
  outline: none;
  width: 24px;
  height: 24px;

  svg {
    fill: currentColor;
  }
}
