.sec-Section {
  @include spacer;
}

.sec-Section-dark {
  background-color: $color-dark;
  color: #fff;
}

.sec-Section_Inner {
  @include grid_container;
}

.sec-Section_Header {
  padding-bottom: $grid-gap;
  text-align: center;
}

.sec-Section_Columns {
  display: flex;
  width: 100%;
}

.sec-Section_Column {
  flex: 1;
}

.sec-Section_Column-large {
  flex: 2;
}

.sec-Section_Image-round {
  border-radius: 50%;
}

.sec-Section_Title {
  @include Font_30-36;
  @include Font_Heading;
  margin-bottom: 20px;
}

.sec-Section_Text {
  @include Font_16-24;
  letter-spacing: 1px;
  margin-bottom: 10px;

  &:only-child {
    margin-bottom: 0;
  }
}
