.sec-Section {
  @include Spacer;
  color: $color-dark;
}

.sec-Section-dark {
  background-color: $color-dark;
  color: $color-light;
}

.sec-Section_Inner {
  @include Inner;
}

.sec-Section_Header {
  text-align: center;
  padding-bottom: 40px;
  @include Breakpoint('lg') {
    padding-bottom: 60px;
  }
}

.sec-Section_Columns {
  @include Breakpoint('md') {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

.sec-Section_Column {
  margin-bottom: var(--grid-gap);

  &:last-child {
    margin-bottom: 0;
  }

  @include Breakpoint('md') {
    flex: 0 0 calc(50% - 20px);
    margin-bottom: 0;
  }
}

.sec-Section_Column-small {
  @include Breakpoint('lg') {
    flex: 0 0 calc(33% - 20px);
  }
}

.sec-Section_Column-large {
  @include Breakpoint('lg') {
    flex: 0 0 calc(66% - 20px);
  }
}

.sec-Section_ImageWrapper {
  @include Breakpoint('lg') {
    position: relative;
    height: 100%;
  }
}

.sec-Section_Image {
  display: block;
  margin: 0 auto;
  @include Breakpoint('lg') {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    max-height: 100%;
  }
}

.sec-Section_Image-round {
  border-radius: 50%;
}

.sec-Section_Title {
  @include Font_30-36;
  @include Font_Heading;
  margin-bottom: 20px;

  &:only-child {
    margin-bottom: 0;
  }
}

.sec-Section_Text {
  @include Font_16-28;
  letter-spacing: 1px;
  margin-bottom: 20px;

  &:last-child,
  &:only-child {
    margin-bottom: 0;
  }
}

.sec-Section_Underline {
  @include Animate_Underline;
  display: inline-block;
  cursor: default;
}

.sec-Section_Text-lead {
  @include Font_22-28;
  font-weight: 400;
  margin-bottom: 20px;
}

.sec-Section_Link {
  @include Animate_Underline;
  display: inline-block;
}
